  {% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Portpolio</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css" >

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   

</head>
<body >
	<style>

ul{
	padding: 0;
	list-style-type: none;
}

.social-links ul,li{

    
	list-style-type: none;
	display: inline-block;

}
.social{
	

	width: 30px;
	height: 30px;
}
		
		body{

			background-color:#F0F0F0;
		}
	</style>
	<br>
	
 <div class="container">
	<div  class="row">
       
		    <div class="col-md-3">
				<div class="card card-body" id="profile-wrapper">
					
					<img id="profile-pic" src="{% static 'images/11.jpg'%}">
					<hr>
					<h6>Hi,i'm sanjay!</h6>
					<p style="font-size: 10px;">I am a Computer Science Engineer(Fresher)</p>
					
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body">
				<h4>SANJAY SINGH RAJAWAT,22(SOFTWARE ENGINEER)</h4>
				<hr>
				<p>To obtain a fresher position as a software engineer in a fast-paced organization where technical skills and creative thinking are useful.A highly motivated software engineer seeking to get a position in a reputed company, where I can use my skills and knowledge to learn new things and grow as a software developer<p>. A reliable and detailed-oriented individual looking to work as software engineer. Offering expertise in Python, HTML-CSS, C and C++, and core web design.</p>
              <ul  class="social-links">
              	<li><a href="https://mobile.twitter.com/iam_ssr941"> <img class="social" src="{% static 'images/twitter.png'%}"></a></li>
              
                <li><a href="https://www.github.com/sanjayrajawat941"> <img class="social" src="{% static 'images/git.png'%}"></a></li>
                <li> <a href="https://www.linkedin.com/in/sanjay-singh-rajawat-b9161b193"><img class="social" src="{% static 'images/linkedin.png'%}"></a></li>
              
               <li><a href="https://www.instagram.com/ssrcastic"><img class="social" src="{% static 'images/instagram.png' %}"></a></li>
                <li><a href="https://www.facebook.com/sanjay.rajawat.35"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
              </ul>
				</div>

			</div>
		</div>
		<br>
<div  class="row">
       
		    <div class="col-md-6">
				<div class="card card-body">
					
					<h4>What I know</h4><hr>
					<ul>
						<li>Python</li><br>
						<li>C and C++</li><br>
						<li>Html and Css</li><br>
						<li>Javascript</li><br>
						<li>flask(Beginner)</li><br>
						<li>Django(Beginner)</li>
					</ul>

			
			
				</div>
			</div>


			<div class="col-md-6">
				<div class="card card-body">
					<h4>My Academics</h4>
					<hr>
						<ul>
						<li style="font-size: 15px">Graduation</li>
						<p>(Medicaps University,Indore(2017-2021),7.0cgpa)</p>
						<li style="font-size: 15px;">High School education</li>
						<p>(Samarth Bal Mandir School,Gwalior,MP,94%)</p>
						<li style="font-size: 15px">Higher Secondary Education</li>
						<p>(Jiwaji Rao,Higher Secondary School,Gwalior,MP,86%)</p>
						
					</ul>

				</div>
			</div>
		</div>
<br>
<div  class="row">
       
		    <div class="col-md-6">
				<div class="card card-body">
					<h4>Contact</h4>
					<ul>
						
						 <li><a href="<a href="https://api.whatsapp.com/send?phone=9516665196 "><img class="social" src="{% static 'images/ssr1.jfif' %}"></a></li>
						 <p>Contact Me On My Whatsaap Anytime</p>
						  <li><a href="mailto:sanjayrajawat941@gmail.com"><img class="social" src="{% static 'images/mail.png' %}"></a></li>
                        <p>Mail Me</p>
					</ul>

				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body">
					<h4>Experience</h4>
					<p>1.Worked as a Head in start-up KAFILA for 1 year(2019-20)</p>
					<p>2.Worked as a Host/co-organiser in Open-mic UNSUNA</p>
					<P>3.Worked As INTERN in kanishka private lim.(2019-20)</P> 
				</div>
			</div>
		</div>


<br>
<div  class="row">
       
		    <div class="col-md-6">
				<div class="card card-body">
					<h4>My Interests</h4>
					<ul>
						
						<li>Public-Speaking</li><br>
						<li>Digital Marketing</li><br>
						<li>Social Media</li><br>
						<li>Politics</li><br>
						<li>Cricket</li>
						<li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body">
					<h4>Achievements</h4>
					<ul>
						<li>1.NTSE quilified (2014-15)</li>
						<li>2.Organised many Cultural-Technical events in college as HEAD</li>
						<li>3.Worked as Campus Ambassador in Tech Fest of many IITS/NITS</li>
						<li>4.Attained many Hackathons and IT Quizes</li>

					</ul>
				</div>
			</div>
		</div>
		<br>
    </div>

</body>
</html>
